@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

body {
  font-family: "PT Sans";
  font-weight: 400;

  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


/* Шапка */


.main-header-navigation {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-header-navigation a {
  color: #000000;
  text-decoration: none;
}

.main-header-list-user {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.main-header-navigation .main-header-link {
  background-color: #756157;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Основное содержание */

.main-hero {
  background-color: #ffffff;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-advantages {
  text-align: center;
}

.subtitle {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.text-subtitle {
  font-size: 22px;
  line-height: 26px;
}

/* Галлерея */
.main-advantages-list {
  color: #000000;
}
.main-advantages-list h3{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.text-photo-wrapper {
  background-color: #82B3D3;
}

.text-photo {
  color: #ffffff;
}

.main-advantages-list-service h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  }

.background-item {
  background-color: #83B3D3;
}

.search-link {
  text-decoration: none;
  color:#FFFFFF;
  background-color: #756157;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}



.main-follow .subtitle,
.text-subtitle-follow {
  color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.main-follow {
  background-color: #000000;
  background-image: url(../images/follow-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-follow-email {
  background-color: #F2F2F2;
  color:#000000;
  font-size: 18px;
  line-height: 24px;
}

.follow-button {
  background-color: #82B3D3;
  border: none;
  color:#FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Подвал */

.main-footer-tel {
  text-decoration: none;
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
}



/* Каталог */

.filters {
  color: #ffffff;
  background-color: #333333;
  background-image: url(../images/catalog-images/filter-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.filters-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.filters-breadcrumbs a {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #FFFFFF;
}

.filters-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.filters-window-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  color: #ffffff;
  background-color: transparent;
}

.action {
  background-color: #82B3D3;
}

/* Галлерея гостиниц */

.search-gallery-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;

}

.catalog-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.catalog-item-price {
  text-align: right;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.catalog-item-button-detailed {
  background-color: #756157;
  text-decoration: none;
  color: #ffffff;
}

.catalog-item-button-like {
  background-color: #82B3D3;
}

.in-favorites {
  border-color: #7DB54F;
  color: #ffffff;
}

.score {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.paganation-link {
  background-color: #82B3D3;
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center
}

.pagination-current {
  background-color: #F2F2F2;
}
.pagination-current {
  color: #000000;
}
